@keyframes text-cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.animate-text-cursor {
    animation: text-cursor 800ms ease-in infinite forwards;
}