 @reference "#indexcss";

 .hero-section {
   @apply absolute inset-0 bg-app-white-300 dark:bg-app-darkBlue-500 h-screen flex pt-9;
 }

 .hero-container {
   @apply flex flex-col relative mx-auto w-full max-w-[350px] sm:max-w-[640px] md:max-w-[780px] lg:max-w-[1280px];
 }

 .hero-heading {
   @apply font-inter py-10 sm:py-14 lg:py-7 sm:my-2 text-5xl md:text-6xl lg:text-7xl mx-auto dark:text-app-text-white-100 text-app-darkBlue-100 font-bold;
 }

 .hero-heading-visitor {
   @apply text-2xl sm:text-lg lg:text-2xl sm:sm:inline mt-2 sm:mt-0 px-2 py-1 w-fit mx-auto block bg-app-gray-100 dark:bg-app-white-100 rounded-sm text-app-white-100 dark:text-app-gray-100
 }

 .hero-intro-wrapper {
   @apply mx-auto font-inter text-center text-3xl md:text-4xl lg:text-5xl mt-1 md:mt-10 lg:mt-11;
 }

 .hero-intro-line {
   @apply mx-auto text-gray-600 dark:text-app-gray-400;
 }

 .hero-intro-line-second {
   @apply mx-auto text-gray-600 my-2 dark:text-app-gray-400;
 }

 .hero-name-tag {
   @apply mx-2 sm:mx-0 bg-app-blue-bright-100 p-1 rounded-sm lg:rotate-12 inline-block text-app-dark-700 dark:bg-app-blue-matt dark:text-app-white-100 hover:rotate-6;
 }

 .hero-name-inner {
   @apply flex gap-x-1 items-center;
 }

 .hero-role-tag {
   @apply   my-1 font-semibold font-inter text-app-text-white-100 dark:text-app-darkBlue-100 mr-2 sm:mx-2 bg-app-darkBlue-100 dark:bg-app-white-100 px-1 inline-block rounded-xs lg:-rotate-3 hover:-rotate-1;
 }

 .hero-role-inner {
   @apply flex gap-x-1 items-center;
 }

 .hero-second-line {
   @apply mx-auto text-lg sm:text-2xl lg:text-4xl 2xl:mt-16 text-center text-app-dark-300 opacity-0  mt-5 sm:mt-10 dark:text-app-white-100;
 }

 .hero-artwork-wrapper {
   @apply flex justify-center items-start sm:h-full;
 }

 .hero-artwork-container {
   @apply flex sm:w-[550px] md:w-[400px] relative justify-center;
 }

 .hero-cv-wrapper {
   @apply absolute h-[135px] -bottom-10 sm:bottom-0 w-fit left-0 right-0 mx-auto;
 }

 .hero-cv-inner {
   @apply flex inset-0 w-full h-full shadow-md border-2 border-transparent border-solid group-hover:border-app-darkBlue-100 group-hover:shadow-2xl group-hover:animate-bounce;
 }




 @keyframes fadeUp {
   from {
     opacity: 0;
     transform: translateY(6px);
   }

   to {
     opacity: 1;
     transform: translateY(0);
   }
 }

 .animate-fadeUp {
   animation: fadeUp 0.35s ease-out forwards;
 }

 .animate-fadeUp-delayed {
   animation: fadeUp 0.35s ease-in-out 0.2s forwards;
 }